<html>
<head>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cutive+Mono">
</head>
  <div class="external">
    <div class="internal">
      <form method="post"
            action="/thankyou"
            id="suggestion">
        <div class="row">
          <div class="col">Name:</div>
          <div class="col"><textarea name="Name" form="suggestion" rows="1"></textarea>
          </div>
        </div>
        <div class="row">
          <div class="col">Book:</div>
          <div class="col"><textarea name="Book" form="suggestion" rows="1"></textarea>
          </div>
        </div>
        <div class="row">
          <div class="col">Author:</div>
          <div class="col"><textarea name="Author" form="suggestion" rows="1"></textarea>
          </div>
        </div>
        <div class="row">
            <div class="col">Note:</div>
            <div class="col"><textarea name="Message" form="suggestion" rows="4"></textarea>
            </div>
        </div>
      </form>
        <div class="button">
          <button class="btn" type="submit" form="suggestion">Submit</a>
        </div>
    </div>
    <div class="footer">get the source on
      <a href="https://github.com/cbalducci/something.to-rea.de">
        github
      </a></div>
  </div>
</html>
