<html>
<head>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/pan.css') }}">
</head>
  <div class="test">
    <div class="overlay"></div>
      <form method="post"
            class="table"
            action="/thankyou"
            id="suggestion">
        <table class="text">
          <tr>
            <td>Name</td>
            <td><textarea name="Name" form="suggestion" maxlength="20"></textarea></td><br>
          </tr>
          <tr>
            <td><label>Book</label></td>
            <td><textarea name="Book" form="suggestion" maxlength="20"></textarea></td><br>
          </tr>
          <tr>
            <td><label>Author</label></td>
            <td><textarea name="Author" form="suggestion" maxlength="20"></textarea></td><br>
          </tr>
          <tr>
            <td><label>Message</label></td>
            <td><textarea name="Message" form="suggestion" rows="5" maxlength="250"></textarea></td><br>
          </tr>
          <tr>
            <td><input type="submit"></td>
          </tr>
        </table>
      </form>
    </div>
    <div class="footer">get the source on
      <a href="https://github.com/cbalducci/something.to-rea.de">
        github
      </a></div>
  </div>
</html>
