<html>
  <head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cutive+Mono">
  </head>
  <div class="external">
    <div class="internal">
      <div class="row">+447426949609</div>
      <div class="row">cristiano.balducci@gmail.com</div>
    </div>
    <div class="footer">get the source on
      <a href="https://github.com/cbalducci/something.to-rea.de">
        github
      </a></div>
  </div>
</html>
